[submodule "detector/yolo_v3"]
	path = detector/yolo_v3
	url = https://github.com/eriklindernoren/PyTorch-YOLOv3.git
[submodule "gan/auggan"]
	path = gan/auggan
	url = https://github.com/yuanmengzhixing/AugGAN-Cross-Domain-Adaptation-with-GAN-based-DataAugmentation.git
