[submodule "gan/auggan"]
	path = gan/auggan
	url = https://github.com/yuanmengzhixing/AugGAN-Cross-Domain-Adaptation-with-GAN-based-DataAugmentation.git
[submodule "detector/maskrcnn-benchmark"]
	path = detector/maskrcnn-benchmark
	url = https://github.com/facebookresearch/maskrcnn-benchmark.git
